<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Netzplan</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <LINK href="styles.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="jquery.html-svg-connect.js" type="text/javascript"></script>
    <script th:utext="${javaScriptKnots}"></script>

</head>
<body>
<div>
    <h2 class="title">Netzplan</h2>
</div>
<button class="buttonTop button buttonGreen" onclick="window.location.href='/deletedOld'">neuen Netzplan eingeben</button>
<div class="buttonTop2">
    <button class="button buttonGreen" onclick="window.location.href='/netPlanTable'">Tabellarische Ansicht</button>
</div>
<div class="buttonTop3">
    <button class="button buttonGreen" onclick="window.location.href='/input'">Knoten bearbeiten</button>
</div>
<div class="buttonTop4">
    <button class="button buttonGreen" onclick="window.location.href='/graphicNetplan'">Grafik refresh?</button>
</div>
<span class="box2" style="background: white">Gesamtdauer: <span th:text="${knotList.get(knotList.size()-2).getEarliestEnd()}" ></span></span>
<span class="box2" style="background: #f0ce6c">Kritischer Pfad: <span th:each="path : ${pathsList}">
    <span th:text="${(pathsList.indexOf(path)+1) + '. Pfad: '}" ></span>
    <span th:each="knot : ${path}" th:text="${knot.getOperationNumber() + ', '}"></span>
    </span>
</span>


<div class="paper" style="margin-top: 10%">

<div id="svgContainer" style="margin: 0 auto;">
    <svg id="svg1" width="0" height="0" >
        <path   th:each="number : ${countedPaths}"
                th:id="'path' + ${number}"
                d="M0 0"
                stroke="#000"
                fill="none"
                stroke-width="4px"/>
    </svg>
</div>
    <div class="flex" th:each="row : ${rowList}">
        <div class="item" th:each="knot : ${row}">
        <div th:if="${knot.operationNumber} != 0"
             th:class="(${knot.rowListIndexSelf}-2) > ${knot.rowListHighestPredecessorIndex} ? 'container container3' : 'container container1'"
             th:classappend="(${knot.rowListIndexSelf}+1) <  ${knot.rowListLowestSuccessorIndex}  ? container2 : 'container1'"
             th:id="'vorgang' + ${knot.operationNumber}"
             th:style="${knot.getTotalBuffer()} == 0 and ${knot.getFreeBuffer()} == 0 ? 'background: #f0ce6c' : 'background: white'">
            <div class="faz zeiten" th:text="${knot.earliestStart}">FAZ</div>
            <div class="fez zeiten" th:text="${knot.earliestEnd}">FEZ</div>
            <div class="vn"  th:text="${knot.operationNumber}"> VN </div>
            <div class="vorgangsbezeichnung" ><span class="info" th:title="${knot.operationDescription}"
                                                    th:text="${knot.operationDescription}">INFO</span></div>
            <div class="dauer" th:text="${knot.durationInMinutes}">Dauer</div>
            <div class="gp puffer" th:text="${knot.totalBuffer}">GP</div>
            <div class="fp puffer" th:text="${knot.freeBuffer}">FP</div>
            <div class="saz zeiten" th:text="${knot.latestStart}">SAZ</div>
            <div class="sez zeiten" th:text="${knot.latestEnd}">SEZ</div>
        </div>
        </div>
    </div>
</div>
</body>
</html>