<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SignUP</title>
</head>
<body>

<form th:action="signup" style="border:1px solid #ccc" method="post" th:object="${users}">
    <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="username"><b>User Name</b></label>
        <input type="text" placeholder="Enter User Name" th:field="*{username}" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" th:field="*{password}" name="password" required>

        <div>
            <button type="button" >Cancel</button>
            <button type="submit" >Sign Up</button>
        </div>
    </div>
</form>

</body>
</html>