<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netzplaner</title>
</head>
<body>
<h1>Willkommen bei Ihrem Netzplan-Rechner!</h1>
<div>
    <p>Auf diesen Seiten haben Sie die Möglichkeit sich schnell und einfach einen Netzplan erstellen zu lassen!</p>
    <p>Der von uns, mithilfe Ihrer eingegebenen Daten, erstellte Netzplan gibt Ihnen Auskunft über die Gesamtdauer des Projekts, die Pufferzeiten und den kritischen Pfad, außerdem können Sie alle Teilschritte übersichtlich dargestellt betrachten!</p>
    <a href="https://de.wikipedia.org/wiki/Netzplantechnik"></a>
</div>

<div>
    <button onclick="window.location.href='/input'">Netzplan eingeben</button>
    <div style="background: url('https://upload.wikimedia.org/wikipedia/de/3/33/NetzplanBsp.png') no-repeat; background-size: 500px auto; width: 500px; height: 500px;"></div>
</div>

</body>
</html>